<section class="feed-shell">
  <category-filter
    [categories]="resourceService.availableCategories()"
    (changeCategory)="resourceService.setFilter($event)"
  ></category-filter>
  @if(filtered().length === 0){
  <div>No resources found.</div>
  }
  <div class="feed-header">
    <h2>Resources</h2>
    <div class="toggle">
      <button class="toggle-btn" [class.active]="view === 'cards'" (click)="view = 'cards'">
        Cards
      </button>
      <button class="toggle-btn" [class.active]="view === 'table'" (click)="view = 'table'">
        Table
      </button>
    </div>
  </div>

  <div class="feed-content">
    @if(view === 'cards'){
    <app-card-view [resources]="pagedResources()"></app-card-view>
    } @if(view === 'table'){
    <app-table-view [resources]="pagedResources()"></app-table-view>
    }
  </div>

  @if(totalPages() > 1) {
  <div class="pagination">
    <div class="page-size-select">
      <label for="page-size">Resources per page:</label>
      <select id="page-size" (change)="onPageSize($event)">
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="30">30</option>
     </select>
    </div>

    <button class="btn secondary" (click)="setPage(currentPage() - 1)" [disabled]="currentPage() === 1">Prev</button>

    <span>Page {{ currentPage() }} / {{ totalPages() }}</span>

    <button class="btn secondary" (click)="setPage(currentPage() + 1)" [disabled]="currentPage() === totalPages()">
      Next
    </button>
  </div>
  }
</section>
